<div class="btn-group">
  <%= button_to mark_all_read_stories_path(:before => Time.now.iso8601), :class => "btn btn-default js-mark-all-read", :remote => true do %>
    Mark all read
  <% end %>
</div>

<div id="stories">
  <%= render :partial => 'index' %>

</div>
<%= content_for(:javascript) do %>

  Rfeeder.wire_mark_all_read();
  Rfeeder.wire_open_story();
  Rfeeder.wire_mark_read();
  Rfeeder.wire_mark_read_later();
  $("#stories").jscroll({
  nextSelector: 'a.js-jscroll-next:last',
  padding: 10
  });
<% end %>
