<footer class="pagefooter clearfix">
  <div>
    <div class="column pull-left">
      <h4>Menu</h4>
      <br/>
    </div>
    <div class="column pull-left">
      <h4>About</h4>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
<section class="footerCredits">
  <div class="container">
    <ul class="clearfix">
      <li class='copyright'>&copy; <%= AppConfig.site_name %> <%= Date.today.year %></li>
    </ul>
  </div>
</section>
